<div id="featured">
<% 3.times do %>
  <%= image_tag 'logo.png', alt: 'Zoomix' %>
<% end %>
</div>
<ul>
  <li><%= link_to 'Zoomixをはじめる','/auth/twitter' %></li>
</ul>

<script>
  $(window).load(function() {
    $('#featured').orbit({
      timer: false,
    });
  });
</script>